<h5>Logs</h5>
<table>
  <thead>
    <th>student</th>
    <th>action</th>
    <th>time</th>
  </thead>
{{#logs}}
  <tr>
    <td>{{studentId}}</td>
    <td>{{action}}</td>
    <td>{{time}}</td>
</tr>
{{/logs}}
</table>
